<div *ngIf="latlng != null">
    <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]="true" [mapTypeControl]="true" [fitBounds]="true">
        <agm-marker *ngFor="let coordinate of start_end_mark; let i = index" [latitude]="coordinate.positionLatitude"
            [longitude]="coordinate.positionLongitude" [agmFitBounds]="true"></agm-marker>
        <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#000'">
            <agm-polyline-point *ngFor="let coordinate of latlng; let i = index" [latitude]="coordinate.positionLatitude"
                [longitude]="coordinate.positionLongitude">
            </agm-polyline-point>
        </agm-polyline>
    </agm-map>
</div>
    <div *ngIf="latlng2 != null" >
        <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]="true" [mapTypeControl]="true" [fitBounds]="true">
            <agm-marker *ngFor="let coordinate of start_end_mark; let i = index" [latitude]="coordinate.latitude"
                [longitude]="coordinate.longitude" [agmFitBounds]="true"></agm-marker>
            <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#000'">
                <agm-polyline-point *ngFor="let coordinate of latlng2; let i = index" [latitude]="coordinate.latitude"
                    [longitude]="coordinate.longitude">
                </agm-polyline-point>
            </agm-polyline>
        </agm-map>
    </div>

