<p-toast></p-toast>

<form [formGroup]="rideEditForm" (ngSubmit)="onSubmitForm()">
    <p-dialog id="vehicle-model" class="Update-Form" header="Ride Head Count" [(visible)]="main.editPanelActive"
        [style]="{width: '400px'}" [baseZIndex]="10000" class="p-fluid" [modal]="true" [dismissableMask]="true">
        <ng-template pTemplate="content">
            <input type="hidden" formControlName="id" />
            <div class="formgrid grid">
                <div class="field col">
                    <label for="name">Head Count <span class="star-sign">*</span></label>
                    <input type="number" pInputText id="name" min="0"  formControlName="headCount"
                    required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                </div>
                <div class="field col">
               
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Update" [disabled]="!rideEditForm.valid" class="p-button-text theme-btn">
                <p-progressSpinner *ngIf="btnloading" [style]="{width: '25px', height: '25px'}"
                    styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                    animationDuration=".5s"></p-progressSpinner>
            </button>
        </ng-template>
    </p-dialog>
</form>