<p-toast></p-toast>

<form [formGroup]="UpdateForm" (ngSubmit)="onSubmitForm()">
    <p-dialog id="Update-Booth" [(visible)]="main.editPanelActive" [style]="{width: '550px'}" header="Update Event Ticket Type"
        [modal]="true" class="p-fluid" [dismissableMask]="true">
        <ng-template pTemplate="content">
            <div class="formgrid grid">
                <input type="hidden" pInputText id="id" formControlName="id" />
                <div class="field col">
                    <label for="name">Title <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="name" formControlName="name" />
                   
                </div>
                <div class="field col">
                    <label for="name">Price <span class="star-sign">*</span></label>
                    <input type="number" pInputText id="price" formControlName="price" />
                   
                </div>
                
            </div>

            
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Update" [disabled]="!UpdateForm.valid" icon="pi pi-check"
                class="p-button-text theme-btn">
                <p-progressSpinner *ngIf="btnloading" [style]="{width: '25px', height: '25px'}"
                    styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                    animationDuration=".5s"></p-progressSpinner>
            </button>
        </ng-template>
    </p-dialog>
</form>