<!-- <p-progressSpinner></p-progressSpinner> -->
<!-- <p style="background: red; height: 200px;"></p> -->
<!-- <div class="loader-main">
  <div class="tvdd" role="img" aria-label="Three intersecting rings of twelve pulsing dots that never collide">
    <div class="tvdd__ring">
      <div class="tvdd__ring-dots">
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
      </div>
    </div>
    <div class="tvdd__ring">
      <div class="tvdd__ring-dots">
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
      </div>
    </div>
    <div class="tvdd__ring">
      <div class="tvdd__ring-dots">
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
        <div class="tvdd__ring-dot"></div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div id="loading">
  <img src="../../assets/layout/images/logo.png" alt="">
</div> -->

<!-- <div class="loader-main">
  <div class="loading-spinner">
  </div>
</div> -->
<!-- <div class="loader-main">
  <img src="../../assets/layout/images/favicon.png" alt="">
<div id="loading"></div>
</div> -->
<!-- <div class="loader-main">
  <div class="u-loading">
    <div class="u-loading__symbol">
      <img src="../../assets/layout/images/favicon.png" alt="">
    </div>
  </div>
</div> -->

<div class="wrapper-load">
  <div class="item-load">
    <div class="item-inner-load">
      <a href="#" class="swoop"></a>
    </div>
  </div>
  <!-- <img src="../../assets/layout/images/logo.png" alt="" width="150"> -->
  <h6 class="tilr">Loading.....</h6>

</div>
