<p-toast></p-toast>

<form [formGroup]="packageForm" (ngSubmit)="onSubmitForm()">
    <p-dialog id="new-user-model" class="Update-Form" header="User Details" [(visible)]="main.editPanelActive" [style]="{width: '650px'}" [baseZIndex]="10000" class="p-fluid" [modal]="true" [dismissableMask]="true">
        <ng-template pTemplate="content">
            <input type="hidden" formControlName="id" />
            <div class="formgrid grid">
                <div class="field col">
                    <label for="title">Title <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="title" formControlName="title" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted">Title is required.</small>
                </div>
                <div class="field col">
                    <label for="project">Quantity <span class="star-sign">*</span></label>
                    <input type="number" pInputText id="quantity" formControlName="no_Of_Tickets" (input)="UpdateAmount()" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                    
                    <small class="ng-dirty ng-invalid" *ngIf="submitted">Quantity is required.</small>
                </div>
            </div>

            <div class="formgrid grid" >
                <div class="field col">
                    <label for="type">Ticket Type <span class="star-sign">*</span></label>
                    <p-dropdown id="ticket_Type" filter="true" [options]="tickettypeDD" name="ticket_Type"
                            formControlName="ticket_Type_Id" placeholder="Select Ticket Type" (onChange)="UpdateAmount($event)">
                        </p-dropdown>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted">Ticket Type is required.</small>
                </div>
                <div class="field col">
                    <label for="percent">Discount Percent (%) <span class="star-sign">*</span></label>
                    <input type="number" pInputText id="percent" formControlName="discounted_Percent" (input)="Calc()" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                    
                    <small class="ng-dirty ng-invalid" *ngIf="submitted">Discounted Percentage is required.</small>
                </div>

            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="amount">Amount (In SAR)<span class="star-sign">*</span></label>
                    <input type="number" pInputText id="amount" formControlName="amount" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted}" />

                </div>
                <div class="field col">
                    <label for="vehicle_type">Net Amount (In SAR)<span class="star-sign">*</span></label>
                    <input type="number" pInputText id="percent" formControlName="net_Amount" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                    
                    <small class="ng-dirty ng-invalid" *ngIf="submitted">Discounted Percentage is required.</small>
                </div>

            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Save" [disabled]="!packageForm.valid" class="p-button-text theme-btn">
                <p-progressSpinner *ngIf="btnloading" [style]="{width: '25px', height: '25px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
            </button>
        </ng-template>
    </p-dialog>
</form>