<p-sidebar *ngIf="details" [(visible)]="main.bottomPanelActive" position="bottom" [baseZIndex]="10000">
    <p-tabView id="ride-detail-tabbing">

        <h3 class="text-center" style="color:#6E6E6E;font-weight: 600;font-family: primaryFontBold;"><span
                style="border-bottom: 3px solid #ef591f;padding-bottom: 3px;">User Info</span></h3>
        <div class="action-row ">
            <div class="action-btn" (click)="main.onEditPanelButtonClick($event,details)">
                <!-- <img src="../../../../../assets/layout/images/end.png " alt=" " width="40 "> -->
                <h6>Edit User Profile</h6>
            </div>
            <!-- <div class="action-btn ">
                <img src="../../../../../assets/layout/images/refund.png " alt=" " width="40 ">
                <h6>Manage User Permissions</h6>
            </div> -->
        </div>
        <div class="head-row">
            <h6 class="panel-parent-heading"><span><i class="fa fa-user mr-0"
                        style="color: #ef591f;font-size: 19px;"></i>{{details.username}}</span></h6>
        </div>
        <div class="submenu-content settings">
            <div class="main-row">
                <div class="sales-settings card-main">
                    <h6><span>Role </span> </h6>
                    <img src="assets/layout/images/scooti-icon.png" alt="" width="40">
                    <h6> {{details.roles.name}}</h6>
                </div>
                <div class="shipment-settings card-main">
                    <h6><span>Account</span> </h6>
                    <img src="assets/layout/images/zone.png" alt="" width="40">
                    <h6> {{details.subAccount.title}}</h6>
                </div>
                <div class="visitors-settings card-main">
                    <h6><span>Date Added</span></h6>
                    <img src="assets/layout/images/start.png" alt="" width="40">
                    <h6> {{details.subAccount.createdAt}}</h6>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="md:col-4" *ngIf="!!details.vehicles">
                <div class="vehicle-card-items" >
                    <h6 class=""> Vehicle List</h6>
                    <ol>
                        <li *ngFor="let vehicle of details.vehicles">{{ vehicle }}</li>
                    </ol>
                </div>
            </div>
            <div class="md:col-4" *ngIf="!!details.zones">
                <div class="zone-card-items" >
                    <h6 class=""> Zone List</h6>
                    <ol>
                        <li *ngFor="let zone of details.zones">{{ zone }}</li>
                    </ol>
                </div>
            </div>
            <div class="md:col-4" *ngIf="!!details.projects">
                <div class="vehicle-card-items" >
                    <h6 class=""> Project List</h6>
                    <ol>
                        <li *ngFor="let project of details.projects">{{ project }}</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- <div *ngIf="!!details.zones">
            <div class="head-row">
                <h6 class="panel-parent-heading"><span><i class="fa fa-user mr-0"
                            style="color: #ef591f;font-size: 19px;"></i> Zones</span></h6>
            </div>
            <div class="submenu-content settings">
                <div class="main-row">
                    <div class="sales-settings card-main">
                        <h6><span>List </span> </h6>
                        <ol>
                            <li *ngFor="let zone of details.zones">{{ zone }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <p-tabPanel header="Action ">

        </p-tabPanel> -->
    </p-tabView>
</p-sidebar>