<app-logs-details [details]="Logs" (eventChange)="onChange($event)"></app-logs-details>
       
<div class="col-12">
    <div class="grid">
        <div class="col-12 p-0">
            <div class="card component-main-card">
                
                <!-- <app-currency-create (eventChange)="onChange($event)"></app-currency-create>
                <app-currency-list [event]="event"></app-currency-list>
                <app-currency-edit [editCurrencyData]="editCurrencyData" (eventChange)="onChange($event)"></app-currency-edit> -->
                 <app-logs-list  [event]="event"></app-logs-list>
            </div>
        </div>
    </div>
</div>
