<!-- *ngIf="isLoading | async" -->
<div class="col-12">
    <div class="grid">
        <div class="col-12 p-0">
            <div class="card component-main-card">
                <app-usert-map [mapActive]="mapActive" (onMapBtnClick)="onMapBtnClick($event)"
                    (onDetailClick)="onBottomPanelButtonClick($event)"></app-usert-map>
                <app-usert-detail [userId]="userId" [bottomPanelActive]="bottomPanelActive"
                    (onDetailClose)="onBottomPanelButtonClick($event)"></app-usert-detail>
                <app-usert-listing [event]="event" (onMapBtnClick)="onMapBtnClick($event)"
                    (onDetailClick)="onBottomPanelButtonClick($event)"></app-usert-listing>
            </div>
        </div>
    </div>
</div>