<p-toast></p-toast>
<div class="bread-container">
    <div class="left-box">
        <h4>
            <span>
                Manage User
            </span>
        </h4>
    </div>
    <div class="right-box">
        <button pButton pRipple label="Add User" class="p-button-success mr-2 theme-btn" (click)="openNew()"></button>
    </div>
</div>



<form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <p-dialog id="new-user-model" [(visible)]="userDialog" [style]="{width: '750px'}" header="User Details" [modal]="true" class="p-fluid" [dismissableMask]="true">
        <ng-template pTemplate="content">
            <div class="formgrid grid">
                <div class="field col">
                    <label for="email">Email <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="email" formControlName="email" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted">Email is required.</small>
                </div>
                <div class="field col" id="user-add-pass">
                    <label for="password">Password <span class="star-sign">*</span></label>
                    <!-- <input type="password" pInputText id="password"  formControlName="password" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted}" /> -->
                    <p-password formControlName="password" id="password" name="password" placeholder="**********" [toggleMask]="true"></p-password>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted">Password is required.</small>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field col">
                    <label for="role">Role <span class="star-sign">*</span></label>
                    <p-dropdown id="roleId" [options]="lstRoles" name="role" formControlName="roleId" placeholder="Select Role">
                    </p-dropdown>
                </div>

                <div class="field col">
                    <label for="account">Sub Account <span class="star-sign">*</span></label>
                    <p-dropdown id="subAccountId" [options]="lstAccounts" name="account" formControlName="subAccountId" placeholder="Select Sub Account">
                    </p-dropdown>
                </div>

                <div class="field col">
                    <label for="account">Parent</label>
                    <p-dropdown id="parentId" [options]="lstUsers" filter="true" name="user" formControlName="parentId" placeholder="Select Parent">
                    </p-dropdown>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field col">
                    <label for="account">Select Vehicles <span class="star-sign">*</span></label>
                    <p-listbox [options]="groupedVehicles" [group]="true" formControlName="selectedVehicles" [metaKeySelection]="false"
                        [checkbox]="true" [filter]="true" [multiple]="true" [listStyle]="{'max-height':'150px'}">
                        <ng-template let-group pTemplate="group">
                            <div class="p-d-flex p-ai-center">
                            <span>{{group.label}}</span>
                            </div>
                        </ng-template>
                    </p-listbox>
                </div>
                <div class="field col">
                    <label for="account">Select Zones <span class="star-sign">*</span></label>
                    <p-listbox [options]="groupedZones" [group]="true" formControlName="selectedZones" [metaKeySelection]="false"
                        [checkbox]="true" [filter]="true" [multiple]="true" [listStyle]="{'max-height':'150px'}">
                        <ng-template let-group pTemplate="group">
                            <div class="p-d-flex p-ai-center">
                            <span>{{group.label}}</span>
                            </div>
                        </ng-template>
                    </p-listbox>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Save" [disabled]="!userForm.valid" icon="pi pi-check" class="p-button-text theme-btn">
                <p-progressSpinner *ngIf="btnloading" [style]="{width: '25px', height: '25px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
            </button>
        </ng-template>
    </p-dialog>
</form>