
<p-sidebar *ngIf="details" [(visible)]="main.bottomPanelActive" position="bottom" [baseZIndex]="10000">
    <p-tabView id="miot-detail-tabbing">
        <h3 class="text-center" style="color:#6E6E6E;font-weight: 600;font-family: primaryFontBold;"><span style="border-bottom: 3px solid #ef591f;padding-bottom: 3px;">Inventory Details</span></h3>

        <div class="md:col-12 col-12">
    <p-table #dt [value]="lstMaintenanceDetails" dataKey="id" styleClass="p-datatable-gridlines" [rowHover]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        columnResizeMode="expand" [totalRecords]="totalRecords" [rows]="10"  autoLayout="true" stateStorage="local" stateKey="lstCustomersRide-local">
        
        <ng-template pTemplate="header">
            <tr>
                <th>
                    Inventory
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inventory let-rowIndex="rowIndex">
            <tr class="p-selectable-row">
                <td>
                    <span class="p-column-title">Inventory</span>
                    {{inventory.inventory.name}}
                </td>
                <td>
                    <span class="p-column-title">Quantity</span>
                    {{inventory.quantity}}
                </td>
                <td>
                    <span class="p-column-title">Price</span>
                    {{inventory.price}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="3">
                    <p class="empty-list">No inventory found.</p>
                </td>
            </tr>
        </ng-template>
        </p-table>
</div>
            </p-tabView>
</p-sidebar>
