<p-toast></p-toast>
<p-confirmDialog #cd id="cutomer-confrim-model" [style]="{ width: '30vw', top: '-190px' }">
    <ng-template pTemplate="footer">
        <button type="button" pButton class="cofirm-model-cancel-btn" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton label="Yes" (click)="cd.accept()"></button>
    </ng-template>

</p-confirmDialog>

<div class="lodi">
    <div *ngIf="mainloding" class="lodi-child">
        <div class="custom-loader"></div>
    </div>
   
    <p-table id="rides-table" var="slots" #dt [columns]="cols" [value]="toursSlots"
        selectionMode="multiple"  [lazy]="true"
        (onLazyLoad)="loadTourSlots($event)" [paginator]="true" [showCurrentPageReport]="true" [rowHover]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="rowsPerPageOptions" columnResizeMode="expand" [totalRecords]="totalRecords" [rows]="10"
        stateStorage="local" stateKey="adac">
        <ng-template pTemplate="caption">
            <!-- <shared-date-range [startDate]="startDate" [endDate]="endDate" [loading]="loading"
            (onRangeChange)="onRangeChange($event)" (onDateChange)="onDateChange($event)"></shared-date-range> -->
            <!-- <div class="grid">
                <div class="md:col-5 sm:col-12 col-12">
                    <span class="">
                        <span>
                            <p-tabView (onChange)="statusChanged($event)" id="status-tab">
                                <p-tabPanel header="All">
                                </p-tabPanel>
                                <p-tabPanel header="Block">
                                </p-tabPanel>
                                <p-tabPanel header="Unblock">
                                </p-tabPanel>
                                <p-tabPanel header="With Debt">
                                </p-tabPanel>

                            </p-tabView>
                        </span>
                    </span>
                </div>
                <div class="text-right md:col-7 sm:col-12 col-12">
                    <div class="three-btn-box" style="display: flex; justify-content: end;">
                        <span class="cut-list-send-btn">
                            <button pButton pRipple label="Send Alert" class="p-button-success mr-2 alert-btn"
                                (click)="showCustomersAlertForm()"></button>
                        </span>
                        <span class="cut-list-exp-btn">
                            <div class="dropdown">
                                <button onclick="myFunction1()" class="dropbtn1 spec-expo">Export <i
                                        class="pi pi-chevron-up"></i></button>
                                <div id="myDropdown1" class="dropdown-content1">
                                    <div class="grid">
                                        <div class="md:col-4 col-4">
                                            <div class="export-item">
                                                <img src="../../../../../assets/layout/images/excel-icon.png" alt=""
                                                    width="20">
                                                <p>Excel</p>
                                            </div>
                                        </div>
                                        <div class="md:col-4 col-4">
                                            <div class="export-item">
                                                <img src="../../../../../assets/layout/images/pdf-icon.png" alt=""
                                                    width="20">
                                                <p>Pdf</p>
                                            </div>
                                        </div>
                                        <div class="md:col-4 col-4">
                                            <div class="export-item">
                                                <img src="../../../../../assets/layout/images/icons8-export-csv-80.png"
                                                    alt="" width="20">
                                                <p>Csv</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </span>
                        <div class="">
                            <div class="dropdown">
                                <button onclick="myFunction()" class="dropbtn" title="Filter"
                                    style="margin-top: 7px;margin-left: 8px;background: #ef591f;">
                                    <img src="../../../assets/layout/images/filter-16.png" alt="">
                                </button>
                                <div id="myDropdown" class="dropdown-content" style="margin-top: 0;">
                                    <i onclick="myFunction()" class="fa fa-times close-bt-show-mb"></i>
                                    
                                    <div class="calender-box">
                                        <shared-date-range [startDate]="startDate" [endDate]="endDate"
                                            [loading]="loading" (onRangeChange)="onRangeChange($event)"
                                            (onDateChange)="onDateChange($event)"></shared-date-range>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                        <div class="custom-in-box transaction-filter mt-2">
                            <i title="Reset Filter" class="pi pi-times" (click)="resetDataTable(dt)"></i>
                            <input pInputText type="text" [(ngModel)]="filterGlobalValue"
                                (keyup.enter)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Type here"
                                class="search-input p-0 tran-search" />
                            <span (click)="dt.filterGlobal(filterGlobalValue, 'contains')">Search
                            </span>
                        </div>
                    </div>
                </div>
            </div> -->
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <!-- <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th> -->
                <th [pSortableColumn]="'code'" pResizableColumn>
                    Time
                    <p-sortIcon [field]="'code'"></p-sortIcon>
                </th>
              
                <th>Change Status</th>
                <th>Action</th>

            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-slots>
            <tr>
                <!-- <td style="width: 3rem">
                    <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                </td> -->

                <td>
                    <span class="p-column-title">Code</span>

                    {{ slots.time_Slot }}
                </td>
                <td>    
                    <p-inputSwitch actionTitle="Status" (onChange)="onStatus($event,slots)"
                    [(ngModel)]="slots.active">
                </p-inputSwitch></td>
                <td class="sm-jus-end">
                    <button style="padding-left: 0;" title="Edit" class="p-button-rounded p-button-success theme-btn ac-btn"
                    (click)="main.onEditPanelButtonClick($event, slots)"
                    >
                        <!-- <img src="../../../../../assets/layout/images/more-detail.png" alt="" width="18"> -->
                        <i class="pi pi-pencil" style="font-size: 12px;"></i>
                        <!-- Edit -->
                    </button>
                </td>
              

            </tr>
        </ng-template>
       
    </p-table>
</div>