.main-s {
    display: flex;
    .cus-right {
        width: 60%;
        padding-left: 25px;
        h6 {
            font-size: 20px;
            font-weight: 700;
            text-align: left;
            margin-top: 20px;
        }
        table {
            width: 100%;
            tr {
                &:nth-child(odd) {
                    background: #ededed;
                }
                td {
                    // border-bottom: 1px solid #00000026;
                    padding: 10px 10px;
                }
            }
        }
    }
}
.cus1-main {
    display: flex;
    width: 90%;
    margin: auto;
    .us-main {
        width: 40%;
    }
    .us-det {
        width: 60%;
        margin-top: 70px;
        margin-left: 30px;
        table {
            width: 100%;
            border-left: 4px solid #c9c9c9;
            border-right: 4px solid #c9c9c9;
            tr {
                th {
                    text-align: center;
                    padding: 22px 0px;
                    border-bottom: 1px solid #dbdbdb;
                    font-weight: 400;
                    border-top: 1px solid #dbdbdb;
                }
            }
            tr {
                td {
                    text-align: center;
                    padding: 22px 0px;
                    border-bottom: 1px solid #dbdbdb;
                    font-weight: 400;
                }
            }
        }
    }
}

// customer Card Design

$white: #d9ecf2;
$pink: #f56a79;
$red: #ff414d;
$turqoise: #1aa6b7;
$black: #002d40;

.profile-card {
    // position: absolute;
    // width: 28rem;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    font-family: "Ubuntu", sans-serif;
    letter-spacing: 0.025em;
    text-align: center;
    color: $black;

    .cover {
        background-image: url("https://cdn-icons-png.flaticon.com/512/149/149071.png"),
            linear-gradient(135deg, rgba($turqoise, 0.2), rgba($red, 0.4));
        background-position: center;
        background-size: cover;
        background-blend-mode: overlay;

        height: 14rem;
        width: 100%;
        border-radius: 2rem;
        margin-bottom: -14rem;
        transform: translateY(0);

        transition: transform 500ms ease-in-out, opacity 200ms 300ms;
        opacity: 0;

        box-shadow: 0 2rem 4rem -3rem rgba($black, 0.5), 0 0rem 8rem 0 rgba($black, 0.1);
    }

    .pic {
        background-image: url(https://cdn-icons-png.flaticon.com/512/149/149071.png),
            linear-gradient(135deg, rgba(26, 166, 183, 0.1), rgba(255, 65, 77, 0.2));
        background-position: center;
        background-size: cover;
        background-blend-mode: overlay;
        position: absolute;
        left: 50%;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0rem;
        z-index: 2;
        box-shadow: 0 1rem 1.5rem -1rem rgb(0 45 64 / 20%), 0 0 0.5rem 0 rgb(0 45 64 / 20%),
            0 0rem 4rem 0 rgb(0 0 0 / 20%);
    }

    .profile {
        margin-top: 70px;
        position: relative;
        background: white;
        width: 100%;
        border-radius: 13px;
        /* padding-top: 2rem; */
        box-sizing: border-box;
        transition: transform 500ms ease-in-out;
        box-shadow: 0 2rem 0rem -10rem rgb(0 45 64 / 50%), 0 0rem 2rem 0 rgb(0 45 64 / 10%);
        padding-bottom: 20px;
        /* margin-top: 46px; */
        /* margin-left: 25px; */
        margin-top: 65px;
        margin-bottom: 21px;
    }

    .above-fold {
        padding-top: 4rem;

        .name {
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 0.4rem;
        }

        .role {
            font-size: 1rem;
            color: #99ca3c;
            font-weight: 400;
            margin-bottom: 0.8rem;
        }

        .location {
            font-size: 1em;
            font-weight: 200;
            margin-bottom: 0.5rem;
            // opacity: 0.6;

            i {
                margin-right: 0.5rem;
            }
        }
    }

    .below-fold {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 500ms ease-in-out, opacity 500ms 250ms;

        .stats {
            border-top: 1px solid rgba($black, 0.1);
            margin-top: 1.5rem;
        }

        .stat {
            flex-basis: 4rem;
            flex-grow: 2;
            padding: 1rem 0;
            border-right: 1px solid rgba($black, 0.1);
            margin-right: 1px;
            cursor: pointer;
            background: rgba($white, 0.2);
            transition: background 200ms;

            &:hover {
                background: rgba($white, 0.4);
            }

            &:last-child {
                border: none;
            }

            label {
                font-weight: 400;
                opacity: 0.4;
            }

            .num {
                font-weight: 700;
                font-size: 2rem;
                color: $turqoise;
                margin: 0.5rem;
            }
        }

        .about {
            margin: -1rem 0 2rem;
            padding: 0 2rem;
            text-align: left;
            p {
                font-weight: 300;
                line-height: 1.5rem;
            }
        }
    }

    &.expand {
        .cover {
            opacity: 1;
            transform: translateY(-5rem);
            transition: transform 500ms ease-in-out, opacity 200ms 0ms;
        }

        .profile {
            transform: translateY(5rem);
        }

        .below-fold {
            max-height: 19em;
            opacity: 1;
        }

        #expand-button {
            animation: none;
            transform: rotate(180deg);
        }
    }
}

.cus-main {
    display: flex;
    .us-main {
        width: 35%;
        float: left;
    }
    .description-box {
        width: 100%;
        float: left;
        // margin-left: 55px;
        margin-top: 13px;
        padding-left: 36px;
        border-top: 3px solid #0000000a;
        padding: 16px;
        border-radius: 4px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-bottom: 3px solid #0000000a;
    }
}
.panel-parent-heading {
    font-size: 22px;
    padding-bottom: 5px;
    margin-top: 7px;
    width: 30%;
    text-align: center;
    color: white;
    padding: 0px 2px;
    border-radius: 279px;
    font-family: monospace;
    text-align: left;
    margin-top: -3px;
    margin-bottom: -2px;
    padding-left: 15px;
    margin-top: 12px;
    margin-bottom: 0;
    padding-bottom: 16px;
    // letter-spacing: -2px;
    span {
        border-bottom: 3px solid #99ca3c;
    }
}
.main-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card-main {
    background: white;
    padding: 10px;
    width: 17.7%;
    float: left;
    margin: 11px;
    box-shadow: 0px 0px 12px -4px #0000001c;
    border-radius: 7px;
    text-align: center;
    i {
        height: 35px;
        width: 35px;
        color: white;
        text-align: center;
        padding-top: 10px;
        border-radius: 50%;
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 41%, rgba(255, 255, 255, 1) 100%);
        margin-right: 14px;
    }
    h6 {
        margin: 0;
        margin-top: 5px;
        color: #9f9f9f;
        margin-bottom: 6px;
    }
    &:nth-child(1) {
        border-bottom: 2px solid #3598db;
    }
    &:nth-child(2) {
        border-bottom: 2px solid #fab400;
    }
    &:nth-child(3) {
        border-bottom: 2px solid #3cc8b4;
    }
    &:nth-child(4) {
        border-bottom: 2px solid #d7322d;
    }
    &:nth-child(5) {
        border-bottom: 2px solid #6b7d92;
    }
    &:nth-child(6) {
        border-bottom: 2px solid #c8d959;
    }
    &:nth-child(7) {
        border-bottom: 2px solid #d7322d;
    }
}

// customer Card Design

$white: #d9ecf2;
$pink: #f56a79;
$red: #ff414d;
$turqoise: #1aa6b7;
$black: #002d40;

.profile-card {
    // position: absolute;
    // width: 28rem;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    font-family: "Ubuntu", sans-serif;
    letter-spacing: 0.025em;
    text-align: center;
    color: $black;

    .cover {
        background-image: url("https://cdn-icons-png.flaticon.com/512/149/149071.png"),
            linear-gradient(135deg, rgba($turqoise, 0.2), rgba($red, 0.4));
        background-position: center;
        background-size: cover;
        background-blend-mode: overlay;

        height: 14rem;
        width: 100%;
        border-radius: 2rem;
        margin-bottom: -14rem;
        transform: translateY(0);

        transition: transform 500ms ease-in-out, opacity 200ms 300ms;
        opacity: 0;

        box-shadow: 0 2rem 4rem -3rem rgba($black, 0.5), 0 0rem 8rem 0 rgba($black, 0.1);
    }

    .pic {
        background-image: url(https://cdn-icons-png.flaticon.com/512/149/149071.png),
            linear-gradient(135deg, rgba(26, 166, 183, 0.1), rgba(255, 65, 77, 0.2));
        background-position: center;
        background-size: cover;
        background-blend-mode: overlay;
        position: absolute;
        left: 50%;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0rem;
        z-index: 2;
        box-shadow: 0 1rem 1.5rem -1rem rgb(0 45 64 / 20%), 0 0 0.5rem 0 rgb(0 45 64 / 20%),
            0 0rem 4rem 0 rgb(0 0 0 / 20%);
    }

    .profile {
        margin-top: 70px;
        position: relative;
        background: white;
        width: 100%;
        border-radius: 13px;
        /* padding-top: 2rem; */
        box-sizing: border-box;
        transition: transform 500ms ease-in-out;
        box-shadow: 0 2rem 0rem -10rem rgb(0 45 64 / 50%), 0 0rem 2rem 0 rgb(0 45 64 / 10%);
        padding-bottom: 20px;
        /* margin-top: 46px; */
        /* margin-left: 25px; */
        margin-top: 65px;
        margin-bottom: 21px;
    }

    .above-fold {
        padding-top: 4rem;

        .name {
            font-size: 21px;
            font-weight: 500;
            margin-bottom: 0.4rem;
        }

        .role {
            font-size: 18px;
            color: #99ca3c;
            font-weight: 400;
            margin-bottom: 5px;
        }

        .location {
            font-size: 18px;
            font-weight: 200;
            margin-bottom: 0.5rem;
            // opacity: 0.6;

            i {
                margin-right: 0.5rem;
            }
        }
    }

    .below-fold {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 500ms ease-in-out, opacity 500ms 250ms;

        .stats {
            border-top: 1px solid rgba($black, 0.1);
            margin-top: 1.5rem;
        }

        .stat {
            flex-basis: 4rem;
            flex-grow: 2;
            padding: 1rem 0;
            border-right: 1px solid rgba($black, 0.1);
            margin-right: 1px;
            cursor: pointer;
            background: rgba($white, 0.2);
            transition: background 200ms;

            &:hover {
                background: rgba($white, 0.4);
            }

            &:last-child {
                border: none;
            }

            label {
                font-weight: 400;
                opacity: 0.4;
            }

            .num {
                font-weight: 700;
                font-size: 2rem;
                color: $turqoise;
                margin: 0.5rem;
            }
        }

        .about {
            margin: -1rem 0 2rem;
            padding: 0 2rem;
            text-align: left;
            p {
                font-weight: 300;
                line-height: 1.5rem;
            }
        }
    }

    &.expand {
        .cover {
            opacity: 1;
            transform: translateY(-5rem);
            transition: transform 500ms ease-in-out, opacity 200ms 0ms;
        }

        .profile {
            transform: translateY(5rem);
        }

        .below-fold {
            max-height: 19em;
            opacity: 1;
        }

        #expand-button {
            animation: none;
            transform: rotate(180deg);
        }
    }
}

.row {
    display: flex;
    justify-content: center;
}

.button {
    width: 9rem;
    height: 2rem;
    padding: 1.2rem;
    margin: 1rem 0.5rem 0;
    box-sizing: border-box;

    background: transparent;
    cursor: pointer;

    font-size: 1.2rem;
    line-height: 0;
    text-transform: upper;
    font-weight: 500;
    color: $pink;

    border: 2px solid $pink;
    border-radius: 2rem;

    transition: background 200ms, color 200ms;

    &:hover {
        background: $pink;
        color: white;
    }
}

#expand-button {
    opacity: 0.3;
    font-size: 1.5rem;
    margin: 1rem auto;
    animation: bounce 4s infinite;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

    cursor: pointer;

    transition: background 200ms, color 200ms, transform 500ms;

    i {
        height: 0;
        margin-top: 0.5rem;
    }

    &:hover {
        background: $black;
        color: white;
    }
}

@keyframes bounce {
    0%,
    60%,
    100% {
        transform: translatey(0);
    }

    80% {
        transform: translatey(-8px);
    }

    90% {
        transform: translatey(8px);
    }
}
.second-row {
    width: 100%;
    display: table;
    .user-box {
        width: 50%;
        float: left;
    }
}
.feedback-bot-box {
    width: 100%;
    // padding-top: 11px;
    display: table;
    // margin-top: 23px;
    .feed-left-box {
        width: 46%;
        float: left;
        text-align: left;
        padding-left: 11px;
        margin-right: 4%;
        h6 {
            font-size: 17px;
            color: #898989;
            border-bottom: 2px solid #00ff5a;
            padding: 4px 19px;
            width: max-content;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 6px;
        }
    }
    .feed-right-box {
        width: 50%;
        float: left;
        text-align: center;
        h6 {
            font-size: 17px;
            color: #898989;
            border-bottom: 2px solid #00ff5a;
            padding: 4px 19px;
            width: max-content;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 6px;
        }
        figure {
            height: 200px;
            margin: 0;
            border-radius: 5px;
        }
    }
}

.fare-card {
    width: 100%;
    display: flex;
    // margin-top: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .fare-card-item {
        text-align: center;
        padding: 10px 0px;
        width: 49%;
        position: relative;
        padding-left: 0px;
        // border-bottom: 1px solid #0000004a;
        margin-bottom: 1%;
        background: red;
        margin-right: 1%;
        border-radius: 7px;
        &:nth-child(1) {
            background: #3598db6b;
        }
        &:nth-child(2) {
            background: #fab400b0;
        }
        &:nth-child(3) {
            background: #3cc8b49e;
        }
        &:nth-child(4) {
            background: #373f487d;
        }
        i {
            height: 27px;
            width: 27px;
            line-height: 2;
            border-radius: 14%;
            font-size: 14px;
            text-align: center;
            background: #ffffff;
            color: #979797;
            margin-bottom: 6px;
            margin-right: 7px;
        }
        h6 {
            font-size: 16px;
            color: white;
            border-bottom: 0px solid #e5e5e5;
            margin: auto;
            text-align: center;
            padding-left: 7px;
        }
        h5 {
            font-size: 15px;
            color: white;
            margin: 7px;
        }
        &::after {
            // content: "";
            position: absolute;
            height: 80px;
            width: 1px;
            background: #e5e5e5;
            right: -8px;
            top: 12px;
        }
    }
    .last {
        &::after {
            content: "";
            position: absolute;
            height: 111px;
            width: 0;
            background: #e5e5e5;
            right: -8px;
            top: -4px;
        }
    }
}
.head-row {
    display: flex;
    width: 100%;
    margin: auto;
    border-radius: 4px;
    margin-bottom: 0px;
    background: #2a3042;
    border-bottom: 1px solid #00000012;
    border-top: 1px solid #00000012;
    // margin-top: 10px;
    .btn-right-box {
        width: 50%;
        justify-content: end;
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-right: 10px;
        button {
            margin-right: 8px;
            margin-top: 9px;
            height: 0;
            padding: 18px 15px;
            line-height: 0;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            border: 1px solid #8080800d;
            background: #99ca3c;
            font-weight: 700;
        }
        h6{
            color: white;
        }
    }
}
.invoice-btn {
    // float: right; */
    /* margin-right: 30px; */
    /* margin-bottom: 37px; */
    font-size: 15px;
    border-bottom: 1px solid #99ca3c;
    letter-spacing: 1px;
    color: #383838;
    /* margin-top: 22px; */
    /* margin-right: 48px;*/
}
.map-box {
    margin-top: 25px !important;
    border-radius: 10px;
    width: 94%;
    margin: auto;
}
.simple-star {
    font-size: 17px;
}
.colored-star {
    color: #ff7600;
    font-size: 17px;
}
.cus1-main {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    .us-main {
        width: 100%;
    }
    .us-det {
        width: 60%;
        margin-top: 70px;
        margin-left: 30px;
        table {
            width: 100%;
            border-left: 4px solid #c9c9c9;
            border-right: 4px solid #c9c9c9;
            tr {
                th {
                    text-align: center;
                    padding: 22px 0px;
                    border-bottom: 1px solid #dbdbdb;
                    font-weight: 400;
                    border-top: 1px solid #dbdbdb;
                }
            }
            tr {
                td {
                    text-align: center;
                    padding: 22px 0px;
                    border-bottom: 1px solid #dbdbdb;
                    font-weight: 400;
                }
            }
        }
    }
}
.action-row {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    align-items: center;
    .action-btn {
        padding: 7px 10px;
        width: auto;
        text-align: center;
        /* border-radius: 4px; */
        background: #99ca3c;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;
        cursor: pointer;
        margin-left: 1px;
        border-radius: 3px;
    margin-bottom: 2px;

        h6 {
            margin: 0;
        }
    }
}
// dropdown

.wrapper {
    padding: 8px 32px 0px 17px;
    background: #ededed;
}
.jumbotron {
    // width: 540px;
    // max-width: 100%;
    // padding: 3rem;
    margin: 0 auto;
    border-radius: 0.8rem;
    text-align: center;
    //background: #fff;
    //box-shadow: 0 2px 2px rgba(0,0,0,.1);

    h2 {
        margin: 0.6em 0 2em;
        font-weight: 400;
        letter-spacing: 0.0452em;
    }
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10vh;
    padding: 1rem;

    ol {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        li {
            list-style: none;
            a {
                display: inline-block;
                font-size: 0.8rem;
                padding: 0.4em 1em;
                color: #777;
                font-weight: 300;
                letter-spacing: 0.0452em;
                transition: all 0.3s ease;

                &:hover {
                    opacity: 0.45;
                }
            }
        }
        //   @include breackpoint-sm-min(){
        //     flex-direction: row;
        //     li + li{border-left: 1px solid #ddd;}
        //   }
    }
}

//----------------------------
//-------  Dropdown ----------
//----------------------------
.drop {
    display: inline-block;
    position: relative;
    text-align: center;
    // width: 200px;
    input[type="checkbox"] {
        display: none;
        &:checked {
            ~ .drop-items {
                opacity: 1;
                max-height: 400px;
                padding: 0.6rem 0;
            }
            ~ .control {
                z-index: 99;
                //   box-shadow:0 0 0 2px lighten(#99ca3c, 20);
                &:after {
                    transform: rotate(180deg);
                }
            }
            ~ .overlay-close {
                transform: none;
                pointer-events: initial;
            }
        }
    }

    .control {
        position: relative;
        color: #000;
        display: inline-block;
        cursor: pointer;
        padding: 0.8em 1.2em;
        background: transparent;
        border-radius: 4px;
        transition: all 0.3s ease;
        @media (hover: hover) {
            &:hover {
                opacity: 0.75;
            }
        }
        &:after {
            content: "";
            background-image: url("../../../../../assets/layout/images/arrow-up.png");
            height: 20px;
            width: 20px;
            margin-left: 0.8em;
            // background-image: url(arrow-up.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transition: transform 0.3s ease;
            position: absolute;
        }
    }

    .drop-items {
        position: absolute;
        top: calc(100% + 0.4rem);
        width: 100%;
        padding: 0;
        margin: 0;
        transition: all 0.3s ease;
        background: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        z-index: 99;
        width: 200px;
        right: -33px;
        .item-drop {
            list-style: none;
            a {
                display: block;
                color: #555;
                text-decoration: none;
                padding: 0.6rem;
                transition: all 0.3s ease;
                padding: 11px 0px;
                cursor: pointer;
                @media (hover: hover) {
                    &:hover {
                        background: #99ca3c;
                        color: white;
                    }
                }
            }
        }
    }

    .overlay-close {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9;
        transform: translate(100%, 0);
        pointer-events: none;
    }
}
.settings {
    .grid {
        width: 98%;
        margin: auto;
    }
}
.top-action {
    width: 53%;
    margin-top: 25px;
    border-bottom: 1px solid #0000002e;
    margin: auto;
    margin-top: 25px;
    padding-bottom: 9px;
    display: flex;
    justify-content: end;
    h6 {
        margin-right: 10px;
        margin-bottom: 0;
        margin-top: 3px;
    }
}

@media only screen and (max-width: 991px) {
    .head-row {
        width: 100%;
        display: table;
        padding-bottom: 16px;
        .panel-parent-heading {
            font-size: 20px;
            text-align: center !important;
            margin-top: 7px;
            width: 100%;
            text-align: center;
            color: #fff;
            padding: 6px 2px;
            border-radius: 6px;
            font-family: monospace;
            text-align: left;
            margin-top: -3px;
            margin-bottom: -2px;
            background: #ffffff;
            padding-left: 15px;
            margin-top: 12px;
            margin-bottom: 11px;
        }
        .btn-right-box {
            width: 100%;
            justify-content: center;
            display: table;
            button {
                margin-right: 8px;
                margin-top: 0;
                height: 0;
                padding: 18px 15px;
                line-height: 0;
                border: 0;
                border-radius: 5px;
                cursor: pointer;
                color: white;
                border: 1px solid #8080800d;
                background: #99ca3c;
                font-weight: 700;
                width: 100%;
                margin-top: 10px;
            }
        }
    }
    .card-main {
        width: 100%;
    }
    .fare-card-item {
        width: 91% !important;
        border-bottom: 1px solid #e2e2e2;
        &::after {
            width: 0px !important;
        }
    }
    .cus1-main {
        display: table;
        .us-main {
            width: 100%;
        }
        .us-det {
            width: 100%;
            margin-top: 0;
            margin-left: 0;
            table tr th {
                padding: 12px 8px;
            }
            table tr td {
                padding: 12px 8px;
            }
        }
    }
}

// tabsize
////////////////////////// reponsive ********************
////////////////////////// reponsive ********************
@media only screen and (max-width: 991px) and (min-width: 480px) {
    .head-row {
        display: flex;
        padding-bottom: 7px;
    }
    .head-row .panel-parent-heading {
        text-align: left !important;
        background: transparent;
    }
    .head-row .btn-right-box {
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .fare-card-item {
        width: 48% !important;
        border-bottom: 1px solid #e2e2e2;
    }
}

// mobileSize
@media only screen and (max-width: 480px) and (min-width: 320px) {
    .action-row .action-btn {
    padding: 7px 5px;
    height: 100%;
}
    .action-row .action-btn h6 {
        margin: 0;
        font-size: 11px;
    }
    .main-s {
        flex-direction: column;
    }
    .cus1-main {
        display: table;
        width: 100%;
    }
    .head-row {
        width: 100%;
        display: flex;
        padding-bottom: 0px;
        flex-wrap: wrap;
    }
    .head-row .btn-right-box {
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .ride-head{
        width: 100% !important;
        border: 0;
        margin-left: 0 !important;
        justify-content: center !important;
    }
    .head-row .panel-parent-heading {
        font-size: 14px;
        background: transparent;
    }
    .main-s .cus-right {
        width: 100%;
        padding-left: 0;
    }
}
.ride-head {
    width: 20%;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    font-size: 17px;
    align-items: center;
    margin: 0;
    font-weight: 900;
    border-left: 1px solid #80808038;
    margin-left: 30px;
    span {
        background: #e9e9e9;
        padding: 7px;
        border-radius: 4px;
        border-bottom: 2px solid #99ca3c;
    }
}
