<div class="col-12">
    <!-- *ngIf="isLoading | async" -->
<div class="grid">
    <div class="col-12 p-0">
        <div class="card component-main-card">
            <div class="bread-container">
                <div class="left-box">
                    <h4>
                        <span>
                            Notifications
                        </span>
                    </h4>
                </div>
            </div>
            <app-noti-listing [event]="event"></app-noti-listing>
        </div>
    </div>
</div>

</div>