<app-reportp-details [details]="reportProblem"></app-reportp-details>
<div class="col-12">
    <div class="grid">
        <div class="col-12 p-0">
            <div class="card component-main-card">
                <div class="bread-container">
                    <div class="left-box manage-r-left">
                        <h4>
                            <span>
                                Manage Report Problems
                            </span>
                        </h4>
                    </div>
                    <div class="right-box">
                    </div>
                </div>
                <app-reportp-listing [event]="event" [last_id]="last_id"></app-reportp-listing>
            </div>
        </div>
    </div>
</div>