<p-toast></p-toast>
<div class="bread-container">
    <div class="left-box">
        <h4>
            <span>
                Manage Vehicles
            </span>
        </h4>
    </div>
    <div class="right-box">
        <button pButton pRipple label="Add Vehicle" class="p-button-success mr-2 theme-btn"
            (click)="openNew()"></button>
    </div>
</div>

<!-- <p-toolbar styleClass="mb-4" *ngIf="vehiclesCount>0">
    <ng-template pTemplate="left">
        <div class="my-2">

        </div>
    </ng-template>
</p-toolbar> -->

<div class="col-12 text-right" *ngIf="vehiclesCount>0">
    <button pButton pRipple label="Send Command" class="theme-btn mr-2"
        (click)="main.onToggleActionRighPanel('command')"></button>
    <button pButton pRipple label="Send status" class="theme-btn"
        (click)="main.onToggleActionRighPanel('status')"></button>
</div>


<form [formGroup]="vehicleForm" (ngSubmit)="onSubmitForm()">
    <p-dialog id="new-ride-model" [(visible)]="vehicleDialog" [style]="{width: '550px'}" header="Vehicle Details"
        [modal]="true" class="p-fluid" [dismissableMask]="true">
        <ng-template pTemplate="content">
            <div class="formgrid grid">
                <div class="field col">
                    <label for="name">Number <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="number" formControlName="number" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                    <small style="color:red;" class="ng-dirty ng-invalid"
                        *ngIf="vehicleForm.controls.number.errors?.pattern">Enter number like: 0011</small>
                </div>
                <div class="field col">
                    <label for="name">Serial No (VIN No)<span class="star-sign">*</span></label>
                    <input type="text" pInputText id="serial_No" formControlName="serial_No" required
                        autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                    <small style="color:red;" class="ng-dirty ng-invalid"
                        *ngIf="vehicleForm.controls.serial_No.errors?.max">Serial number should consist of 17 characters</small>
                </div>
                <!-- <div class="field col">
                    <label for="name">Battery %<span class="star-sign">*</span></label>
                    <input type="number" pInputText id="name" min="0" formControlName="vehicleBattery" required
                        autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                    <small style="color:red;" class="ng-dirty ng-invalid"
                        *ngIf="vehicleForm.controls.vehicleBattery.errors?.max">Please battery value between 0 and
                        100</small>
                </div> -->
            </div>

            <div class="formgrid grid">

                <div class="field col">
                    <label for="quantity">Type <span class="star-sign">*</span></label>
                    <p-dropdown id="type" [options]="lstTypes" name="type" formControlName="vehicleTypeId"
                        placeholder="Select Type">
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label for="project">Project </label>
                    <p-dropdown id="project" [options]="project" placeholder="Select Project"  formControlName="project_Id">
                    </p-dropdown>
                </div>
                <!-- <div class="field col">
                    <label for="price">Company <span class="star-sign">*</span></label>
                    <p-dropdown id="company" [filter]="true" [options]="lstCompanies" name="company"
                        formControlName="vehicleCompanyId" placeholder="Select Company">
                    </p-dropdown>
                </div> -->
            </div>

            <!-- <div class="formgrid grid">
                <div class="field col">
                    <label for="price">Status <span class="star-sign">*</span></label>
                    <p-dropdown id="status" [options]="lstStatuses" name="status" formControlName="vehicleStatusId"
                        placeholder="Select Status">
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label for="quantity">Model <span class="star-sign">*</span></label>
                    <p-dropdown id="model" [options]="lstModels" name="model" formControlName="vehicleModelId"
                        placeholder="Select Model">
                    </p-dropdown>
                </div>
            </div> -->

            <div class="formgrid grid">
                <div class="field col-6">
                    <label for="price">IOT <span class="star-sign">*</span></label>
                    <p-dropdown id="iot" scrollHeight="100px" filter="true" [options]="lstIOT" name="iot"
                        formControlName="IOT_Id" placeholder="Select IOT">
                    </p-dropdown>
                </div>
                <!-- <div class="field col-6">
                    <label for="quantity">Sub Account <span class="star-sign">*</span></label>
                    <p-dropdown id="account" [options]="lstAccounts" name="subAccount" formControlName="subAccountId"
                        placeholder="Select Sub Account">
                    </p-dropdown>
                </div> -->
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Save" [disabled]="!vehicleForm.valid" icon="pi pi-check"
                class="p-button-text theme-btn">
                <p-progressSpinner *ngIf="btnloading" [style]="{width: '25px', height: '25px'}"
                    styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                    animationDuration=".5s"></p-progressSpinner>
            </button>
        </ng-template>
    </p-dialog>
</form>