<div class="lodi">
    <div *ngIf="loading" class="lodi-child">
        <div class="custom-loader"></div>
    </div>
    <p-table id="rides-table" #dt [value]="_lstZones" [lazy]="true" (onLazyLoad)="loadZones($event)"
        [totalRecords]="totalRecords" [rows]="10" [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        selectionMode="multiple" [rowHover]="true" dataKey="id" stateStorage="local" stateKey="zoneistDAO-local">
        <ng-template pTemplate="caption">
            <!-- <shared-date-range [startDate]="startDate" [endDate]="endDate" [loading]="loading"
            (onRangeChange)="onRangeChange($event)" (onDateChange)="onDateChange($event)"></shared-date-range> -->
            <div class="grid">
                <div class="md:col-3 col-12">
                    <span class="">
                        <span>
                            <p-tabView (onChange)="statusChanged($event)" id="status-tab">
                                <p-tabPanel header="All">
                                </p-tabPanel>
                                <p-tabPanel header="Active" [selected]="true">
                                </p-tabPanel>
                                <p-tabPanel header="Deactive">
                                </p-tabPanel>
                            </p-tabView>
                        </span>
                    </span>
                </div>
                <div class="md:col-9 text-right col-12">

                    <!-- <div style="display: flex; justify-content: end;width: 100%;">
                    <span class="transactio-exp-btn">
                        <div class="dropdown">
                            <button onclick="myFunction1()" class="dropbtn1">Export <i
                                    class="pi pi-chevron-up"></i></button>
                            <div id="myDropdown1" class="dropdown-content1">
                                <div class="grid">
                                    <div class="md:col-4 col-4">
                                        <div class="export-item">
                                            <img src="../../../../../assets/layout/images/excel-icon.png" alt=""
                                                width="20">
                                            <p>Excel</p>
                                        </div>
                                    </div>
                                    <div class="md:col-4 col-4">
                                        <div class="export-item">
                                            <img src="../../../../../assets/layout/images/pdf-icon.png" alt=""
                                                width="20">
                                            <p>Pdf</p>
                                        </div>
                                    </div>
                                    <div class="md:col-4 col-4">
                                        <div class="export-item">
                                            <img src="../../../../../assets/layout/images/icons8-export-csv-80.png"
                                                alt="" width="20">
                                            <p>Csv</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </span>

                    <div class="custom-in-box transaction-filter">
                        <i title="Reset Filter" class="pi pi-times" (click)="resetDataTable(dt)"></i>
                        <input pInputText type="text" [(ngModel)]="filterGlobalValue"
                            (keyup.enter)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Type here"
                            class="search-input p-0 tran-search" />
                        <span (click)="dt.filterGlobal(filterGlobalValue, 'contains')">Search
                        </span>
                    </div>

                </div> -->

                    <div
                        style="display: flex; justify-content: end; align-items: center; height: 100%;margin-top: 3px;">
                        <p-dropdown id="dash-drop-id" [style]="{'min-width':'200px','text-align':'left', 'margin-right': '8px', 'margin-top': '0','background': '#ef591f'}" [options]="projectlist"
                            (onChange)="changeProject($event)" optionLabel="title" optionValue="id"
                            [filter]="true"></p-dropdown>
                    
                        <span class="btn-left-box mr-2">
                            <div class="dropdown" style="margin-top: 0;">
                                <button onclick="myFunction1()" class="dropbtn1"
                                    style="margin-top: 0;background: #ef591f;">Export <i
                                        class="pi pi-chevron-up"></i></button>
                                <div id="myDropdown1" class="dropdown-content1">
                                    <div class="grid">
                                        <div class="md:col-4 col-4">
                                            <div class="export-item">
                                                <img src="../../../../../assets/layout/images/excel-icon.png" alt=""
                                                    width="20">
                                                <p>Excel</p>
                                            </div>
                                        </div>
                                        <div class="md:col-4 col-4">
                                            <div class="export-item">
                                                <img src="../../../../../assets/layout/images/pdf-icon.png" alt=""
                                                    width="20">
                                                <p>Pdf</p>
                                            </div>
                                        </div>
                                        <div class="md:col-4 col-4">
                                            <div class="export-item">
                                                <img src="../../../../../assets/layout/images/icons8-export-csv-80.png"
                                                    alt="" width="20">
                                                <p>Csv</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </span>

                        <div class="">
                            <div class="dropdown">
                                <button onclick="myFunction()" class="dropbtn" title="Filter"
                                    style="margin-top: 4px;margin-left: 2px;background: #ef591f;">
                                    <img src="../../../assets/layout/images/filter-16.png" alt="">
                                </button>
                                <div id="myDropdown" class="dropdown-content" style="margin-top: 0;">
                                    <i onclick="myFunction()" class="fa fa-times close-bt-show-mb"></i>
                                    <!-- <i onclick="myFunction()" class="fa fa-times close-bt"></i> -->

                                    <div class="calender-box">
                                        <shared-date-range [startDate]="startDate" [endDate]="endDate"
                                            [loading]="loading" (onRangeChange)="onRangeChange($event)"
                                            (onDateChange)="onDateChange($event)"></shared-date-range>
                                    </div>
                                    <!-- <div class="btun-box">
                                       <ul class="left-list">
                                           <li> <button>Today</button> </li>
                                           <li> <button>Yesterday</button> </li>
                                           <li> <button>Monthly</button> </li>
                                           <li> <button>Total</button> </li>
                                        </ul>
                                   </div> -->

                                </div>
                            </div>
                        </div>
                        <!-- <div id="serch-ani">
                        <div class="it-box" style="margin-top: 0;">
                            <input pInputText type="text" [(ngModel)]="filterGlobalValue"
                                (keyup.enter)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Type here"
                                style="background: #ef591f;" />
                            <span class="search" style="background: #ef591f;">
                                <i class="pi pi-search search-icon"></i>
                            </span>
                            <i class="pi pi-times close-icon" (click)="resetDataTable(dt)"></i>
                        </div>
                    </div> -->
                        <!-- <div class="search-wrapper">
                        <div class="input-holder">
                            <input type="text" class="search-input" placeholder="Type to search" [(ngModel)]="filterGlobalValue" (keyup.enter)="dt.filterGlobal($event.target.value, 'contains')"/>
                            <button class="search-icon" onclick="searchToggle(this, event);" (click)="dt.filterGlobal(filterGlobalValue, 'contains')"><span></span></button>
                        </div>
                        <span class="close" onclick="searchToggle(this, event);" (click)="resetDataTable(dt)"></span>
                    </div> -->

                        <div class="custom-in-box transaction-filter">
                            <i title="Reset Filter" class="pi pi-times" (click)="resetDataTable(dt)"></i>
                            <input pInputText type="text" [(ngModel)]="filterGlobalValue"
                                (keyup.enter)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Type here"
                                class="search-input p-0 tran-search" />
                            <span (click)="dt.filterGlobal(filterGlobalValue, 'contains')">Search
                            </span>
                        </div>

                    </div>


                </div>
            </div>




        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Id">Id
                    <p-sortIcon field="Id"></p-sortIcon>
                </th>
                <th pSortableColumn="Title">Title
                    <p-sortIcon field="Title"></p-sortIcon>
                </th>
                <th pSortableColumn="Zone_name">Zone Type
                    <p-sortIcon field="Zone_name"></p-sortIcon>
                </th>
                <th pSortableColumn="Country">Country
                    <p-sortIcon field="Country"></p-sortIcon>
                </th>
                <th pSortableColumn="City">City
                    <p-sortIcon field="City"></p-sortIcon>
                </th>
                <th pSortableColumn="Create_at">Create at
                    <p-sortIcon field="Create_at"></p-sortIcon>
                </th>
                <th>Details</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-zone>
            <tr>
                <!-- <td>
            <p-tableCheckbox [value]="vehicle"></p-tableCheckbox>
        </td> -->
                <td><span class="p-column-title">Id</span> {{zone.number}}
                </td>
                <td><span class="p-column-title">Title</span> {{zone.title}}
                </td>
                <td><span class="p-column-title">Zone Type</span> {{zone.zone_Type != null ? zone.zone_Type.title : '-'
                    }}
                </td>
                <td> <span class="p-column-title">Country</span>
                    {{zone.city != null ? zone.city.country
                    .name : '-'}}
                </td>
                <td><span class="p-column-title">City</span>
                    {{zone.city != null ? zone.city.name : '-'}}
                </td>
                <td><span class="p-column-title">Create at</span>
                    {{zone.created_at | date:'medium'}}
                </td>
                <td class="sm-jus-end">
                    <button title="More Details" pButton pRipple
                        class="p-button-rounded p-button-success theme-btn ac-btn" href="#"
                        (click)="main.onEditPanelButtonClick($event, zone)">
                        <img src="../../../../../assets/layout/images/more-detail.png" alt="" width="18">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>