
<div  class="lodi">
    <div *ngIf="loading" class="lodi-child">
        <div class="custom-loader"></div>
    </div>
<p-table #dt [value]="lstBooths" [lazy]="true" (onLazyLoad)="loadBooth($event)" [totalRecords]="totalRecords"
    [rows]="10" [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple"
    [rowHover]="true" dataKey="id" stateStorage="local" stateKey="boothListDao-local">
    <ng-template pTemplate="caption">

        <div class="grid">
            <div class="md:col-7 col-12">

            </div>
            <div class="md:col-5 text-right col-12 pb-0">

                <div style="display: flex; justify-content: end;">
                    <span>
                        <div class="dropdown">
                            <button onclick="myFunction1()" class="dropbtn1">Export <i
                                    class="pi pi-chevron-up"></i></button>
                            <div id="myDropdown1" class="dropdown-content1">
                                <div class="grid">
                                    <div class="md:col-4 col-4">
                                        <div class="export-item">
                                            <img src="../../../../../assets/layout/images/excel-icon.png" alt=""
                                                width="20">
                                            <p>Excel</p>
                                        </div>
                                    </div>
                                    <div class="md:col-4 col-4">
                                        <div class="export-item">
                                            <img src="../../../../../assets/layout/images/pdf-icon.png" alt=""
                                                width="20">
                                            <p>Pdf</p>
                                        </div>
                                    </div>
                                    <div class="md:col-4 col-4">
                                        <div class="export-item">
                                            <img src="../../../../../assets/layout/images/icons8-export-csv-80.png"
                                                alt="" width="20">
                                            <p>Csv</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </span>
                    <!-- <div class="custom-in-box">
                        <i title="Reset Filter" class="pi pi-times" (click)="resetDataTable(dt)"></i>
                        <input pInputText type="text" [(ngModel)]="filterGlobalValue"
                            (keyup.enter)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Type here"
                            class="search-input p-0" />
                        <span (click)="dt.filterGlobal(filterGlobalValue, 'contains')">Search
                        </span>
                    </div> -->
                    <div class="">
                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn" title="Filter"
                                style="margin-top: 7px;margin-left: 8px;background: #99ca3c;">
                                <img src="../../../assets/layout/images/filter-16.png" alt="">
                            </button>
                            <div id="myDropdown" class="dropdown-content" style="margin-top: 0;">
                                <!-- <i onclick="myFunction()" class="fa fa-times close-bt"></i> -->
                                <i onclick="myFunction()" class="fa fa-times close-bt-show-mb"></i>
                                <div class="calender-box">
                                    <shared-date-range [startDate]="startDate" [endDate]="endDate" [loading]="loading"
                                        (onRangeChange)="onRangeChange($event)"
                                        (onDateChange)="onDateChange($event)"></shared-date-range>
                                </div>
                                <!-- <div class="btun-box">
                                       <ul class="left-list">
                                           <li> <button>Today</button> </li>
                                           <li> <button>Yesterday</button> </li>
                                           <li> <button>Monthly</button> </li>
                                           <li> <button>Total</button> </li>
                                        </ul>
                                   </div> -->
    
                            </div>
                        </div>
                    </div>
                    <!-- <div class="search-wrapper mt-2">
                        <div class="input-holder">
                            <input type="text" class="search-input" placeholder="Type to search" [(ngModel)]="filterGlobalValue" (keyup.enter)="dt.filterGlobal($event.target.value, 'contains')"/>
                            <button class="search-icon" onclick="searchToggle(this, event);" (click)="dt.filterGlobal(filterGlobalValue, 'contains')"><span></span></button>
                        </div>
                        <span class="close" onclick="searchToggle(this, event);" (click)="resetDataTable(dt)"></span>
                    </div> -->
                    <div class="custom-in-box transaction-filter mt-2">
                        <i title="Reset Filter" class="pi pi-times" (click)="resetDataTable(dt)"></i>
                        <input pInputText type="text" [(ngModel)]="filterGlobalValue"
                            (keyup.enter)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Type here"
                            class="search-input p-0 tran-search" />
                        <span (click)="dt.filterGlobal(filterGlobalValue, 'contains')">Search
                        </span>
                    </div>
    
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="date">Date &  Time
                <p-sortIcon field="date"></p-sortIcon>
            </th>
            <!-- <th pSortableColumn="manager">Managers
                <p-sortIcon field="manager"></p-sortIcon>
            </th> -->
            <th pSortableColumn="Title">Title
                <p-sortIcon field="Title"></p-sortIcon>
            </th>
            <th pSortableColumn="artitle">Arabic Title
                <p-sortIcon field="artitle"></p-sortIcon>
            </th>
            <th pSortableColumn="Boothtype.title">Booth Type
                <p-sortIcon field="Boothtype.title"></p-sortIcon>
            </th>
            <th pSortableColumn="Wait_Time">Wait Time
                <p-sortIcon field="Wait_Time"></p-sortIcon>
            </th>
            <th>Details</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-booth>
        <tr>
            <td>
                {{booth.created_at | date:'medium'}}
            </td>
            <!-- <td>
                <span *ngIf="booth.lstBoothManagers;">
                <span *ngFor="let item of booth.lstBoothManagers;">
                    <a [routerLink]="[ '/users/user-main'] "
                    [queryParams]="{ customdata: item.userName }" class="clickable-v-btn ">
                    {{item.userName}} <br>
                </a>
                </span>
                
            </span>
            </td> -->
            <td>
                {{booth.title}}
            </td>
            <td>
                {{booth.arTitle}}
            </td>
            <td>
                {{booth.conciergeBoothTypes.title}}
            </td>
            <td>
                {{booth.wait_Time}}
            </td>
            <td class="sm-jus-end">
                <button title="More Details" pButton pRipple class="p-button-rounded p-button-success theme-btn ac-btn"
                    href="#" (click)="main.onBottomPanelButtonClick($event, booth)">
                    <img src="../../../../../assets/layout/images/more-detail.png" alt="" width="18">
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>