<p-toast></p-toast>
<p-dialog [modal]="true" class="p-fluid" [dismissableMask]="true" header="Edit Coupon Code" [(visible)]="main.editCouponCodeActive" [style]="{ width: '35vw' }" [baseZIndex]="10000">
    <form #f="ngForm" (ngSubmit)="onSubmitUpdate()" [formGroup]="EditCouponCodeForm">
        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="formgrid grid">
                    <div class="field col">
                        <label>Country<span style="color: red">*</span></label>
                        <p-dropdown id="txtcountryId" [options]="lstCountries" [(ngModel)]="country_Id" name="country_Id" formControlName="country_Id" (onChange)="onSelect($event)" placeholder="Select Country">
                        </p-dropdown>
                    </div>
                    <div class="field col">
                        <label>City<span style="color: red">*</span></label>
                        <p-multiSelect [options]="getlstCities" optionLabel="name" [(ngModel)]="selectlstCities" formControlName="selectlstCitiess" scrollHeight="100px"  defaultLabel="Select a City" selectedItemsLabel="{0} items selected"></p-multiSelect>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label>Package<span style="color: red">*</span></label>
                        <p-dropdown id="txtpackageId" [options]="_itempackages" name="package_Id" formControlName="package_Id" placeholder="Select Packages">
                        </p-dropdown>
                    </div>
                    <div class="field col">
                        <label>Code<span style="color: red">*</span></label>
                        <input type="text" id="txtcode" name="code" formControlName="code" pInputText placeholder="Code"/>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label>Credit Amount<span style="color: red">*</span></label>
                        <input type="number" id="txtamount" name="amount" formControlName="amount" pInputText placeholder="Amount"/>
                    </div>
                    <div class="field col">
                        <label>Expiry Date<span style="color: red">*</span></label><br>
                        <input type="date" id="txtexpiry" name="expiry" formControlName="expiry" pInputText placeholder="Expiry"/>
                    </div>
            </div>
            </div>
        </div>
  
            <div class="col-md-12">
                <div class="button-footer text-right">
                    <button
                    class="cancel-custom mr-2" style="width: auto;"
                    (click)="main.editCouponCodeActive = false" 
                    label="Cancel"
                    pButton
                >
                </button>
                <button type="submit" class="add-new-btn theme-btn" [disabled]="!EditCouponCodeForm.valid">
                    <span *ngIf="btnloading"></span>
                    Update
                  </button>
                </div>
            </div>

    </form>
</p-dialog>

