<p-sidebar *ngIf="details" [(visible)]="main.bottomPanelActive" position="bottom" [baseZIndex]="10000">
    <p-tabView id="miot-detail-tabbing">
        
               

        <h3 class="text-center" style="color:#6E6E6E;font-weight: 600;font-family: primaryFontBold;"><span
            style="border-bottom: 3px solid #ef591f;padding-bottom: 3px;">Logs Info</span></h3>
    <div class="submenu-content settings">
        <div class="main-row">
            
            <div class="sales-settings card-main">
                <h5> Method</h5>
                <h6>{{ details.method }}</h6>
            </div>
           
           
            <div class="sales-settings card-main">
                <h5>Status Code</h5>
                <h6>{{ details.response_Status_Code }}</h6>
            </div>
            <div class="sales-settings card-main">
                <h5>Platform</h5>
                <h6>{{ details.platform}}</h6>
            </div>
            <div class="sales-settings card-main">
                <h5>Header</h5>
                <h6>{{ details.headers}}</h6>
            </div>
            <div class="sales-settings card-main">
                <h5>UserId</h5>
                <a routerLink="/users/user-main" [queryParams]="{ customdata: details.userId }">
                    <h6>{{ details.userId }}</h6>
                </a>
              
            </div>
            <div class="sales-settings card-main">
                <h5>Created On</h5>
                <h6>{{ details.timestamp  | date: "medium"}}</h6>
            </div>
         
        </div>
        <div class="main-row row-2">
            <div class="sales-settings card-main">
                <h5>Request_Path</h5>
                <h6>{{ details.request_Path }}</h6>
            </div>
            <div class="sales-settings card-main">
                <h5> Query_String</h5>
                <h6>{{ details.query_String }}</h6>
            </div>
            <div class="sales-settings card-main">
                <h5> request_Body</h5>
                <h6>{{ details.request_Body }}</h6>
            </div>
            <div class="sales-settings card-main">
                <h5> Response_Body</h5>
                <h6>{{ details.response_Body }}</h6>
            </div>
        </div>
    </div>
    </p-tabView>
</p-sidebar>