<p-toast></p-toast>
<div class="bread-container">
    <div class="left-box">
        <h4>
            <span>
                Manage Projects
            </span>
        </h4>
    </div>
    <div class="right-box">
        <button pButton pRipple label="Add Project" class="p-button-success mr-2 theme-btn"
            (click)="openNew()"></button>
    </div>
</div>
<form [formGroup]="projectForm" (ngSubmit)="onSubmitForm()">
    <p-dialog id="new-ride-model" [(visible)]="projectDialog" [style]="{width: '550px'}" header="Add Project"
        [modal]="true" class="p-fluid" [dismissableMask]="true">
        <ng-template pTemplate="content">
            <div class="formgrid grid">
                <div class="field col">
                    <label for="name">Title <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="name" formControlName="title" />
                   
                </div>
                <div class="field col">
                    <label for="name">Arabic Title <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="name" formControlName="artitle" />
                   
                </div>
                
            </div>

            <div class="formgrid grid">
                <div class="field col">
                    <label>Country<span class="star-sign">*</span></label>
                    <p-dropdown id="txtcountryId" [options]="dropdown?.countrylist" formControlName="country_Id"   name="country_Id" (onChange)="onSelect($event)" placeholder="Select Country">
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label>City<span class="star-sign">*</span></label>
                    <p-dropdown id="txtcountryId" [options]="lstcities" name="city_Id" formControlName="city_Id"  placeholder="Select City">
                    </p-dropdown>
                </div>
           
            </div>
            <div class="formgrid grid">
                <div class="md:col-6">
                    <label>Start Date<span class="star-sign">*</span></label> <br>
                    <p-calendar id="startDateCal" [(ngModel)]="setStartDate" name="startDate" formControlName="start_Date"  placeholder="Select Start Date" [showButtonBar]="true" (onSelect)="onStartDateSelect($event)"></p-calendar>
                </div>
                <div class="md:col-6">
                    <label>End Date<span class="star-sign">*</span></label> <br>
                    <p-calendar id="endDateCal" [(ngModel)]="setEndDate" name="endDate" formControlName="end_Date"  placeholder="Select End Date" [showButtonBar]="true" [minDate]="setStartDate" (onSelect)="onEndDateSelect($event)"></p-calendar>
                    <div *ngIf="dateError" style="color: red;">End Date cannot be earlier than Start Date.</div>
                </div>
            </div>
            
            
            
            <div class="formgrid grid">
                <div class="field col">
                    <label>Status<span class="star-sign">*</span></label>
                    <p-dropdown id="txtcountryId" [options]="Status" name="status" formControlName="status"  placeholder="Select Status">
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label for="account">Vehicle Group<span class="star-sign">*</span></label>
                    <p-multiSelect id="vehicletype" [options]="vehicleType" filter="true" formControlName="vehicletypeId" placeholder="Select Vehicle Group">
                    </p-multiSelect>
                </div>
             
            </div>
            

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Save" [disabled]="!projectForm.valid" icon="pi pi-check"
                class="p-button-text theme-btn">
                <p-progressSpinner *ngIf="btnloading" [style]="{width: '25px', height: '25px'}"
                    styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                    animationDuration=".5s"></p-progressSpinner>
            </button>
        </ng-template>
    </p-dialog>
</form>

