<!-- <div class="bg-screen">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
   <g transform=""><circle cx="0" cy="0" r="2150.665245918109" fill="#00a950" fill-opacity="0.4">
     <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="2s" begin="-2s" keyTimes="0;0.5;1" values="0.943;1.057;0.943" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
   </circle><circle cx="0" cy="0" r="1955.1502235619173" fill="#00a360" fill-opacity="0.4">
     <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="2s" begin="-1.8181818181818181s" keyTimes="0;0.5;1" values="0.943;1.057;0.943" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
   </circle><circle cx="0" cy="0" r="1759.6352012057257" fill="#009c6e" fill-opacity="0.4">
     <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="2s" begin="-1.6363636363636365s" keyTimes="0;0.5;1" values="0.943;1.057;0.943" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
   </circle><circle cx="0" cy="0" r="1564.1201788495339" fill="#00957b" fill-opacity="0.4">
     <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="2s" begin="-1.4545454545454546s" keyTimes="0;0.5;1" values="0.943;1.057;0.943" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
   </circle><circle cx="0" cy="0" r="1368.605156493342" fill="#008d86" fill-opacity="0.4">
     <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="2s" begin="-1.2727272727272727s" keyTimes="0;0.5;1" values="0.943;1.057;0.943" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
   </circle><circle cx="0" cy="0" r="1173.0901341371502" fill="#00848f" fill-opacity="0.4">
     <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="2s" begin="-1.0909090909090908s" keyTimes="0;0.5;1" values="0.943;1.057;0.943" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
   </circle><circle cx="0" cy="0" r="977.5751117809587" fill="#007c95" fill-opacity="0.4">
     <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="2s" begin="-0.9090909090909091s" keyTimes="0;0.5;1" values="0.943;1.057;0.943" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
   </circle><circle cx="0" cy="0" r="782.0600894247669" fill="#007398" fill-opacity="0.4">
     <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="2s" begin="-0.7272727272727273s" keyTimes="0;0.5;1" values="0.943;1.057;0.943" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
   </circle><circle cx="0" cy="0" r="586.5450670685751" fill="#006998" fill-opacity="0.4">
     <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="2s" begin="-0.5454545454545454s" keyTimes="0;0.5;1" values="0.943;1.057;0.943" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
   </circle><circle cx="0" cy="0" r="391.03004471238347" fill="#006095" fill-opacity="0.4">
     <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="2s" begin="-0.36363636363636365s" keyTimes="0;0.5;1" values="0.943;1.057;0.943" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
   </circle><circle cx="0" cy="0" r="195.51502235619174" fill="#00568f" fill-opacity="0.4">
     <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="2s" begin="-0.18181818181818182s" keyTimes="0;0.5;1" values="0.943;1.057;0.943" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
   </circle><circle cx="0" cy="0" r="0" fill="#014c86" fill-opacity="0.4">
     <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="2s" begin="0s" keyTimes="0;0.5;1" values="0.943;1.057;0.943" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
   </circle></g>
   </svg>
  </div> -->

<div class="login-main">
  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="container">
      <div class="image-wapper" style="background-image: url(../../../../../assets/layout/images/banner-2.jpg)">
        <!-- <img class="login-logo" src="assets/layout/images/logo.png" alt=""> -->
        <h1 class="login-heading">Wayz</h1>
      </div>
      <div class="form-wapper">
        <div class="form-header">
          <!-- <img class="login-logo" src="assets/layout/images/logo.png" alt=""> -->
          <h2 class="login-heading">Sign In</h2>
        </div>
        <div class="form-body">
          <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
            <div class="input-wrapper">
              <label for="email">Email</label>
              <input class="login-email-input" formControlName="username" id="email" type="email" name="email"
                placeholder="abc@.com" />
            </div>
            <div class="input-wrapper">
              <label for="password">Password</label>
              <!-- <input formControlName="password"  id="password" type="password" name="password" placeholder="**********" /> -->
              <p-password formControlName="password" id="password" name="password" placeholder="**********"
                [toggleMask]="true"></p-password>
              <!-- <span class="icon show-pass"><i class="fa fa-eye"></i></span> -->
            </div>
            <div class="input-wrapper more-action">
              <label>
                <!-- <input id="remember-me" type="checkbox" name="remember_me"/> -->
                <p-checkbox name="1" value="0"></p-checkbox>
                Remember Me
              </label><a class="form-link" href="./auth-forgot-password.html">Forgot Password?</a>
            </div>
            <button type="submit" [disabled]="!loginForm.valid">Sign In
              <!-- <p-progressSpinner *ngIf="btnloading" [style]="{width: '25px', height: '25px'}"
              styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
              animationDuration=".5s"></p-progressSpinner> -->
              <div *ngIf="btnloading" class="custom-loader-login"></div>
            </button>
            <div *ngIf="showError" class="login-error" role="alert">
              {{errorMessage}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>