<p-toast></p-toast>
<div class="bread-container">
    <div class="left-box">
        <h4>
            <span>
                Manage Country
            </span>
        </h4>
    </div>
    <div class="right-box">
        <button pButton pRipple label="Add Country" class="p-button-success mr-2 theme-btn"
            (click)="openNew()"></button>
    </div>
</div>
<form [formGroup]="countryForm" (ngSubmit)="onSubmitForm()">
    <p-dialog id="new-ride-model" [(visible)]="countryDialog" [style]="{width: '550px'}" header="Country Details"
        [modal]="true" class="p-fluid" [dismissableMask]="true">
        <ng-template pTemplate="content">
            <div class="formgrid grid">
                <div class="field md:col-6 col-12">
                    <label for="name">Name <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="name" formControlName="name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                    <!-- <small style="color:red;" class="ng-dirty ng-invalid"
                        *ngIf="cityForm.controls.name.errors?.required">Enter Name</small> -->
                </div>
                <div class="field col-12 md:col-6">
                    <label for="name">Arabic Name <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="arabic_name" formControlName="arabic_name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                    <!-- <small style="color:red;" class="ng-dirty ng-invalid"
                        *ngIf="vehicleForm.controls.number.errors?.pattern">Enter number like: 0011</small> -->
                </div>
            </div>
            <!-- <div class="formgrid grid">
                <div class="field md:col-6 col-12">
                    <label for="name">Sub Region <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="sub_region" formControlName="sub_region" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                </div>
           
                <div class="field md:col-6 col-12">
                    <label for="time_Zones">Time Zones <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="time_Zones" formControlName="time_Zones" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                </div>
            </div> -->
            <div class="formgrid grid">
                <!-- <div class="field md:col-6 col-12">
                    <label for="translations">Translations <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="translations" formControlName="translations" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                 </div> -->
          

                <div class="field md:col-6 col-12">
                    <label>Currency<span class="star-sign">*</span></label>
                    <p-dropdown id="txtcurrency_Id" [options]="lstCurrencies" name="currency_Id" formControlName="currency_Id"  placeholder="Select Currency">
                    </p-dropdown>
                </div>
              
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Save" [disabled]="!countryForm.valid" icon="pi pi-check"
                class="p-button-text theme-btn">
                <p-progressSpinner *ngIf="btnloading" [style]="{width: '25px', height: '25px'}"
                    styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                    animationDuration=".5s"></p-progressSpinner>
            </button>
        </ng-template>
    </p-dialog>
</form>