<p-toast></p-toast>

<form [formGroup]="ProjectUpdateForm" (ngSubmit)="onSubmitForm()">
    <p-dialog id="Update-Booth" [(visible)]="main.editPanelActive" [style]="{width: '550px'}" header="Update Projects"
        [modal]="true" class="p-fluid" [dismissableMask]="true">
        <ng-template pTemplate="content">
            <div class="formgrid grid">
                <div class="field col">
                    <label for="name">Title <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="name" formControlName="title" />
                   
                </div>
                <div class="field col">
                    <label for="name">Arabic Title <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="name" formControlName="artitle" />
                   
                </div>
                
            </div>

            <div class="formgrid grid">
                <div class="field col">
                    <label>Country<span class="star-sign">*</span></label>
                    <p-dropdown id="txtcountryId" [options]="dropdown?.countrylist" formControlName="country_Id"   name="country_Id" (onChange)="onSelect($event)" placeholder="Select Country">
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label>City<span class="star-sign">*</span></label>
                    <p-dropdown id="txtcountryId" [options]="lstcities" name="city_Id" formControlName="city_Id"  placeholder="Select City">
                    </p-dropdown>
                </div>
           
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Save" [disabled]="!ProjectUpdateForm.valid" icon="pi pi-check"
                class="p-button-text theme-btn">
                <p-progressSpinner *ngIf="btnloading" [style]="{width: '25px', height: '25px'}"
                    styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                    animationDuration=".5s"></p-progressSpinner>
            </button>
        </ng-template>
    </p-dialog>
</form>