<p-toast></p-toast>
<p-dialog id="new-wallet" header="Add bonus" [(visible)]="main.ValuePanelActive" [style]="{ width: '35vw' }" [baseZIndex]="10000" modal="true">
    <form [formGroup]="customerAddBonusForm" (ngSubmit)="onSubmitCustomerAddBonus()" class="customer-charge-form" novalidate>
        <div class="form-row">
            <div class="col-md-12 col-md-4">
                <div class="field">
                    <label for="">Bonus Type <span class="star-sign">*</span></label>
                    <p-dropdown id="bonusTypeId" name="bonusTypeId" (onChange)="changeReasonStatus($event)" formControlName="bonusTypeId"  [options]="bonusTypesOptions" filter="true" filterBy="label" placeholder="--Select--" [virtualScroll]="true"
                        [itemSize]="4" class="w-100">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-md-12 col-md-4 mt-2">
                <div class="field">
                <label for="">Type bonus amount <span class="star-sign">*</span></label>
                <input type="hidden" [(ngModel)]="details.id" formControlName="id" pInputText id="id" name="id" />
                <div class="p-inputgroup">
                    <input type="text" id="txtbonusAmount" name="bonusAmount" formControlName="bonusAmount" pInputText placeholder="Type bonus amount"  />
                </div>
                <small style="color:red;" class="ng-dirty ng-invalid" *ngIf="customerAddBonusForm.controls.bonusAmount.errors?.pattern">Please valid bonus amount!</small>
            </div>
            </div>
            <div *ngIf="isReasonShown" class="col-md-12 col-md-4 mt-2">
                <div class="field">
                <label>Reason <span class="star-sign">*</span></label>
                <textarea style="border: 1px solid #ced4da;" id="bonusReason" name="bonusReason" formControlName="bonusReason" class="form-control w-100" placeholder="Reason" [rows]="4" [cols]="30"></textarea>
            </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="button-footer text-right">
                    <button class="danger-btn mr-2 cancel-custom" (click)="main.ValuePanelActive = false" label="Cancel" styleClass="ui-button-warning" pButton>
                </button>

                    <button type="submit" class="add-new-btn theme-btn" [disabled]="!customerAddBonusForm.valid">
            <span
              *ngIf="btnloading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Add bonus
          </button>
                </div>
            </div>
        </div>
    </form>
</p-dialog>