<p-toast></p-toast>

<p-dialog
    class="Edit-Form"
    header="Edit package"
    [(visible)]="main.editwpPanelActive"
    [style]="{ width: '35vw' }"
    [baseZIndex]="10000"
    (onHide)="closeModal()"
    [modal]="true" [dismissableMask]="true" 
>
   <form #f="ngForm" (ngSubmit)="onUpdateWP()" [formGroup]="wpForm">
        <div class="grid">
            <div class="col-12 field">
                <label>Title</label> <br>
                <input
                pInputText
                    type="text"
                    formControlName="title"
                    name="title"
                    placeholder="Title"
                    class="w-100"
                />
            </div>
            <div class="col-12">
                <label>Top Up Amount</label> <br>
                <input
                pInputText
                    type="number"
                    formControlName="top_Up_Amount"
                    class="w-100"
                    name="top_Up_Amount"
                    min="0"
                />
            </div>
            <div class="col-12">
                <label>Bonus Amount</label> <br>
                <input
                pInputText
                    type="number"
                    formControlName="bonus_Amount"
                    class="w-100"
                    name="bonus_Amount"
                    min="0"
                />
            </div>
        </div>
        <div class="col">
            <div class="button-footer text-right">
                <button
                    class="danger-btn mr-2 cancel-custom"
                    (click)="main.editwpPanelActive = false"
                    label="Cancel"
                    styleClass="ui-button-warning"
                    pButton
                >
                </button>
                <button
                    type="submit"
                    class="add-new-btn theme-btn"
                    [disabled]="!wpForm.valid"
                >
                    <span *ngIf="btnloading"></span>
                    Update
                </button>
            </div>
        </div>
    </form>
</p-dialog>
