<p-dialog class="Add-New-Form" header="Send Customers Alert" [(visible)]="main.AlertPanelActive" [style]="{ width: '550px' }" [baseZIndex]="10000" [modal]="true" [dismissableMask]="true">
    <form #f="ngForm" (ngSubmit)="onSubmitIndividualAlertForm()" [formGroup]="sendIndividualAlertForm">
        <div class="grid">
            <div class="form-group col-md-12">
                <div class="p-inputgroup">

                    <p-multiSelect id="txtCustomers" hidden name="customers" formControlName="customers" [options]="itemCustomersAlert" scrollHeight="100px" [virtualScroll]="true" [itemSize]="30" [(ngModel)]="selectedCustomersAlert" defaultLabel="--Select--
                        " optionLabel="name " display="chip">
                    </p-multiSelect>
                </div>
            </div>
            <div class="form-group md:col-12 col-12 ">
                <div class="field">
                    <label for="">Title <span class="star-sign">*</span></label>
                    <input class="w-100" type="text" name="title" formControlName="title" pInputText placeholder="Title"  />
                    <div *ngIf="submitted" class="invalid-feedback">
                        <small style="color:red;" class="ng-dirty ng-invalid"
                            *ngIf="sendIndividualAlertForm.controls.title.errors?.required">Please required Title
                            !</small>
                    </div>
               
                </div>
              <div class="field">
                <label>Message <span class="star-sign">*</span></label> <br>
                <textarea id="txteng_Message "   maxlength="100"  name="eng_Message" formControlName="eng_Message" class="body form-control w-100" pInputText placeholder="English Message " [rows]="4 " [cols]="30"></textarea>
                <div *ngIf="submitted" class="invalid-feedback">
                    <small style="color:red;" class="ng-dirty ng-invalid"
                        *ngIf="sendIndividualAlertForm.controls.eng_Message.errors?.required">Please required Message
                        !</small>
                </div>
              </div>  
                <!-- <small style="color:red;" class="ng-dirty ng-invalid" *ngIf="sendIndividualAlertForm.controls['eng_Message'].value.length >= 100">Please  Alert should be 100 characters</small> -->
            </div>
            <!-- <div class="form-group md:col-6 col-12 ">
                 <div class="field">
                    <label>Arabic Message <span class="star-sign">*</span></label> <br>
                    <textarea id="txtarabic_Message " name="arabic_Message" maxlength="100"  formControlName="arabic_Message" class="body form-control w-100" pInputText placeholder="Arabic Message " [rows]="4" [cols]="30"></textarea>
                </div>
                <small style="color:red;" class="ng-dirty ng-invalid" *ngIf="sendIndividualAlertForm.controls['arabic_Message'].value.length >= 100">Please  Alert should be 100 characters</small>
            </div> -->
        </div>
        <div class="row ">
            <div class="col-md-12 ">
                <br />
                <div class="button-footer text-right ">
                    <button type="submit" class="add-new-btn theme-btn" [disabled]="!sendIndividualAlertForm.valid ">
            <span
              *ngIf="btnloading "
              class="spinner-border spinner-border-sm mr-1 "
            ></span>
            Send
          </button>
                    <!-- <button type="submit " class="btn btn-primary " [disabled]="!saveVehicleForm.valid ">Add</button> -->
                </div>
            </div>
        </div>
        
    </form>
</p-dialog>