<p-toast></p-toast>
<div class="bread-container">
    <div class="left-box">
        <h4>
            <span>
                Manage Zone
            </span>
        </h4>
    </div>
    <div class="right-box">
        <button pButton pRipple label="Add Zone" class="p-button-success mr-2 theme-btn" (click)="newZone()"></button>
    </div>
</div>
<form [formGroup]="zoneForm" (ngSubmit)="onSubmitForm()">
    <p-dialog id="new-zone-model" [(visible)]="zoneDialog" [style]="{width: '1200px'}" header="Zone Details"
        [modal]="true" class="p-fluid" [dismissableMask]="true">
        <p-steps id="add-zone-step" [model]="items" [(activeIndex)]="activeIndex"></p-steps>
        <ng-template pTemplate="content">
            <div *ngIf="activeIndex == 0">
                <div class="formgrid grid">
                    <div class="field col mt-4">
                        <label>Country<span class="star-sign">*</span></label>
                        <p-dropdown id="txtcountryId" [options]="lstCountries" name="country_Id"
                            formControlName="country_Id" (onChange)="onSelect($event)" placeholder="Select Country">
                        </p-dropdown>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <small style="color:red;" class="ng-dirty ng-invalid"
                                *ngIf="zoneForm.controls.country_Id.errors?.required">Please required Country!</small>
                        </div>

                    </div>
                    <div class="field col mt-4">
                        <label>City<span class="star-sign">*</span></label>
                        <p-dropdown id="txtcityId" filter="true" [options]="getlstCities" name="city_Id"
                            formControlName="city_Id" placeholder="Select City">
                        </p-dropdown>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <small style="color:red;" class="ng-dirty ng-invalid"
                                *ngIf="zoneForm.controls.city_Id.errors?.required">Please required City!</small>
                        </div>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="name">Title <span class="star-sign">*</span></label>
                        <input type="text" pInputText id="title" formControlName="title" />
                        <div *ngIf="submitted" class="invalid-feedback">
                            <small style="color:red;" class="ng-dirty ng-invalid"
                                *ngIf="zoneForm.controls.title.errors?.required">Please required Title!</small>
                        </div>
                    </div>
                    <div class="field col">
                        <label for="name">Ar Title <span class="star-sign">*</span></label>
                        <input type="text" pInputText id="arTitle" formControlName="arTitle" />
                        <!-- <div *ngIf="submitted" class="invalid-feedback">
                            <small style="color:red;" class="ng-dirty ng-invalid"
                                *ngIf="zoneForm.controls.arTitle.errors?.required">Please required Ar Title!</small>
                        </div> -->
                    </div>
                    <div class="field col">
                        <label for="account">Maximum Speed<span class="star-sign">*</span></label>
                        <input type="number" pInputText id="defaultSpeed" formControlName="default_Speed" />
                        <div *ngIf="submitted" class="invalid-feedback">
                            <small style="color:red;" class="ng-dirty ng-invalid"
                                *ngIf="zoneForm.controls.default_Speed.errors">Default Speed must be less the Max Speed of selected Vehicle Type</small>
                        </div>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="project">Project <span class="star-sign">*</span></label>
                        <p-dropdown id="project" [options]="project" placeholder="Select Project"  formControlName="projectId">
                        </p-dropdown>
                    </div>
    
                    <div class="field col">
                        <label for="account">Vehicle Types<span class="star-sign">*</span></label>
                        <p-multiSelect id="vehicletype" [options]="vehicleType" filter="true" formControlName="vehicletypeId" placeholder="Select Vehicle Types">
                        </p-multiSelect>
                    </div>
                    
                </div>

            </div>

            
            <div *ngIf="activeIndex == 1">
                    <div class="grid">
                        <div class="md:col-3">
                            <label>Latitude</label>
                            <div class="p-inputgroup">
                                <input (mouseout)="onUpdateMapPointer()" (mouseover)="onUpdateMapPointer()" (keypress)="onUpdateMapPointer()"  type="number" id="txtnumber" formControlName="setcurrentlat" pInputText placeholder="0.00"  [(ngModel)]="setcurrentlat" />
                            </div>
                        </div>
                        <div class="md:col-3">
                            <label>Longitude</label>
                            <div class="p-inputgroup">
                                <input (mouseout)="onUpdateMapPointer()" (mouseover)="onUpdateMapPointer()" (keypress)="onUpdateMapPointer()"  type="number" id="txtnumber" formControlName="setcurrentlong" pInputText placeholder="0.00"  [(ngModel)]="setcurrentlong" />
                            </div>
                        </div>
                    </div>
                <div class="agm-container mt-4 mb-4">
                    <agm-map [zoom]="10" [latitude]="setcurrentlat" [longitude]="setcurrentlong"
                        (mapReady)="onMapReady($event)" [disableDefaultUI]="false" [zoomControl]="false">
                        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                            <agm-info-window>
                                <strong>InfoWindow content</strong>
                            </agm-info-window>
                        </agm-marker>
                    </agm-map>
                    <div *ngIf="submitted" class="invalid-feedback">
                        <small style="color:red;" class="ng-dirty ng-invalid"
                            *ngIf="zoneForm.controls.zone_Coordinates.length == 0">Please required zone points!</small>
                    </div>
                </div>
            </div>
            

            <div class="grid grid-nogutter justify-content-end mt-3">
                <p-button id="step-btn" class="theme-btn"label="Back"
                    *ngIf="activeIndex != 0" (click)="prevPage(redzone)"></p-button>
                <p-button id="step-btn" [ngClass]="{'dnone': buttonDisable}" class="theme-btn ml-1-"
                     label="Next" *ngIf="activeIndex ==0"
                    (click)="nextPage(redzone)" iconPos="right"></p-button>


                <button pRipple label="Submit" *ngIf="activeIndex == 1" [disabled]="!zoneForm.valid" icon="pi pi-check"
                    class="theme-btn ml-1">
                    <p-progressSpinner *ngIf="btnloading" [style]="{width: '25px', height: '25px'}"
                        styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                        animationDuration=".5s"></p-progressSpinner>
                    Submit
                </button>
            </div>
        </ng-template>
        <!-- <ng-template pTemplate="footer">
               
        </ng-template> -->
    </p-dialog>
</form>