<app-walletp-details [details]="walletPackage" [packageId]="packageId"></app-walletp-details>
<div class="col-12">
    <div class="grid">
        <div class="col-12 p-0">
            <div class="card component-main-card">
                <app-walletp-add (eventChange)="onChange($event)"></app-walletp-add>
                <app-walletp-listing [event]="event"></app-walletp-listing>
                <app-walletp-edit
                    (resetEditWPData)="resetEditWP()"
                    [editWPData]="editWPData"
                    (eventChange)="onChange($event)"
                ></app-walletp-edit>
            </div>
        </div>
    </div>
</div>
