<p-toast></p-toast>


<form [formGroup]="vehicleEditForm" (ngSubmit)="onSubmitForm()">
    <p-dialog id="vehicle-model" class="Update-Form" header="Vehicle Details" [(visible)]="main.editPanelActive"
        [style]="{width: '650px'}" [baseZIndex]="10000" class="p-fluid" [modal]="true" [dismissableMask]="true">
        <ng-template pTemplate="content">
            <input type="hidden" formControlName="id" />
            <div class="formgrid grid">
                <div class="field col">
                    <label for="name">Number <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="number" formControlName="number" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                    <small style="color:red;" class="ng-dirty ng-invalid"
                        *ngIf="vehicleEditForm.controls.number.errors?.pattern">Enter number like: 0011</small>
                </div>
                <div class="field col">
                    <label for="name">Battery %<span class="star-sign">*</span></label>
                    <input type="number" pInputText id="name" min="0" max="100" formControlName="vehicleBattery"
                        required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                    <small style="color:red;" class="ng-dirty ng-invalid"
                        *ngIf="vehicleEditForm.controls.vehicleBattery.errors?.max">Please battery value between 0 and
                        100</small>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field col">
                    <label for="price">Company <span class="star-sign">*</span></label>
                    <p-dropdown id="company" [filter]="true" [options]="lstCompanies" name="company"
                        formControlName="vehicleCompanyId" placeholder="Select Company">
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label for="quantity">Type <span class="star-sign">*</span></label>
                    <p-dropdown id="type" [options]="lstTypes" name="type" formControlName="vehicleTypeId"
                        placeholder="Select Type">
                    </p-dropdown>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field col">
                    <label for="price">Status <span class="star-sign">*</span></label>
                    <p-dropdown id="status" [options]="lstStatuses" name="status" formControlName="vehicleStatusId"
                        placeholder="Select Status">
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label for="quantity">Model <span class="star-sign">*</span></label>
                    <p-dropdown id="model" [options]="lstModels" name="model" formControlName="vehicleModelId"
                        placeholder="Select Model">
                    </p-dropdown>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field col">
                    <label for="price">IOT <span class="star-sign">*</span></label>
                    <p-dropdown id="iot" scrollHeight="100px" filter="true" [options]="lstIOT" name="iot"
                        formControlName="IOT_Id" placeholder="Select IOT">
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label for="quantity">Sub Account <span class="star-sign">*</span></label>
                    <p-dropdown id="account" [options]="lstAccounts" name="subAccount" formControlName="subAccountId"
                        placeholder="Select Sub Account">
                    </p-dropdown>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Update" [disabled]="!vehicleEditForm.valid" class="p-button-text theme-btn">
                <p-progressSpinner *ngIf="btnloading" [style]="{width: '25px', height: '25px'}"
                    styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                    animationDuration=".5s"></p-progressSpinner>
            </button>
        </ng-template>
    </p-dialog>
</form>