

<p-toast></p-toast>
<form [formGroup]="slotEditForm" (ngSubmit)="onSubmitForm()">
    <p-dialog id="new-ride-model" [(visible)]="main.editPanelActive" [style]="{width: '550px'}" header="City Details" [modal]="true" class="p-fluid" [dismissableMask]="true">
        <ng-template pTemplate="content">
            <div class="formgrid grid">
                <div class="field md:col-12 col-12">
                    <label for="name">Time Slot <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="time_Slots" formControlName="time_Slots" required 
                        [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                    </div>
                <!-- <div class="field md:col-12 col-12">
                    <label for="name">Arabic Name <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="arabic_name" formControlName="arabic_name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                    
                </div> -->
            </div>

           
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Update" [disabled]="!slotEditForm.valid" icon="pi pi-check"
                class="p-button-text theme-btn">
                <!-- *ngIf="btnloading" -->
                <p-progressSpinner 
                 [style]="{width: '25px', height: '25px'}"
                    styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                    animationDuration=".5s"></p-progressSpinner>
            </button>
        </ng-template>
    </p-dialog>
</form>



