<p-toast></p-toast>
<form [formGroup]="slotEditForm" (ngSubmit)="onSubmitForm()">
    <p-dialog id="Update-Boothr" [(visible)]="main.editPanelActive" [style]="{width: '550px'}" header="Details"
        [modal]="true" class="p-fluid" [dismissableMask]="true" [baseZIndex]="10003">
        <ng-template pTemplate="content">
            <div class="formgrid grid">
                <div class="field md:col-6 col-12">
                    <label for="name">Time Slot <span class="star-sign">*</span></label>
                    <input type="text" pInputText id="time_Slot" formControlName="time_Slot" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
                </div>
                <div class="field col">
                    <label for="price">Tour Package <span class="star-sign">*</span></label>
                    <p-multiSelect id="zone-mul" [options]="lstTourPackages" formControlName="tourPackagesIds"
                        defaultLabel="Select Tour Package" selectedItemsLabel="{0} items selected"></p-multiSelect>
                </div>
                <div class="field md:col-6 col-12">

                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Update" [disabled]="!slotEditForm.valid"
                class="p-button-text theme-btn mt-5">
                <p-progressSpinner *ngIf="btnloading" [style]="{width: '25px', height: '25px'}"
                    styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                    animationDuration=".5s"></p-progressSpinner>
            </button>
        </ng-template>
    </p-dialog>
</form>