<div class="col-12">
    <div class="grid">
        <div class="col-12 p-0">
            <div class="card component-main-card">
                <div class="bread-container">
                    <div class="left-box">
                        <h4>
                            <span>
                                Transactions
                            </span>
                        </h4>
                    </div>
                    <div class="right-box">
                        <!-- <button pButton pRipple label="Add New Ride" icon="pi pi-plus" class="p-button-success mr-2 theme-btn" (click)="openNew()"></button> -->
                    </div>
                </div>
                <app-transaction-details [details]="Transaction"></app-transaction-details>
                <app-transaction-list></app-transaction-list>
            </div>
        </div>
    </div>
</div>